.App{
  min-height: 100vh;
  background:tan;
  }
  .search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
;
  align-items: center;
  }
  .search-bar{
  width: 50%;
  border:none;
  padding: 10px;
  border-radius: 2rem;
  box-shadow: -15px -15px 15px rgba(225,225,225,.2), 15px 15px 15px rgba(0,0,0,.1);
  }
  .search-button{
  background: #454d25;
  border: 2px solid white;
  border-radius: 2rem;
  padding: 10px 20px;
  color: white;
  font-size: larger;
  margin: 0 0 0 10px;
  }
  .search-button:hover {
  background-color: darkolivegreen ;
  }
  .recipes{
  display:grid;
  align-items: start;
  
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 1rem;
  grid-template-rows: masonry;
  }
  .banner{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    background:white;
  }
  .footer{
    text-align: center;
  }

  h1 {
    margin-block-start: auto;
    text-align: center;
    padding: 1rem;
  }
  