@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.recipe{
	border-radius: 10px;
	box-shadow: -15px -15px 15px rgba(225,225,225,.2), 15px 15px 15px rgba(0,0,0,.1);
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background: white;
	align-items: center;
	min-width: 40%;
	font-family: 'Lato';
}

.image{
	border-radius: 10px;
	margin:0px 0px 20px 0px;
}

h1 {
	border-bottom: .5px solid black;
}

.banner {
	object-fit: cover;
}

.healthLabels {
	font-family: 'Times New Roman', Times, serif;
}

.recipeDetails {
	font-size: 2rem;
	color:white;
	background: olive;
	height:3rem;
	border-radius:.25rem;
	width:100%;
	padding:.25rem;
	border:none;
}

.recipeDetails:hover {
	background: darkolivegreen;
	transition: 1s;
}

.ingredientList {
	margin-top: .5rem;
	padding: .25rem;
}

.ingredientList li {
	margin: .5rem 0;
	list-style-type: none;
}

.ingredientText {
	font-size:1.5rem;
}
