@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.recipe{
	border-radius: 10px;
	box-shadow: -15px -15px 15px rgba(225,225,225,.2), 15px 15px 15px rgba(0,0,0,.1);
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background: white;
	align-items: center;
	min-width: 40%;
	font-family: 'Lobster', cursive;
}

.image{
	border-radius: 10px;
	margin:0px 0px 20px 0px;
}

